.pageHeader {
  position: relative;
  background: transparent linear-gradient(94deg, #454545 0%, #636363 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.4);
  margin: 0 0 -1px;
  padding: 1rem 0;
}
.container {
  width: 996px;
  max-width: 100%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
.pageHeader--Title span {
  display: block;
  line-height: 1.2;
}
.pageHeader--TitleMain {
  font-size: 28px;
  font-weight: bold;
  color: #efea5d;
  margin-bottom: 0.25rem;
}
.pageHeader--TitleDesc {
  font-size: 18px;
  color: #fff;
}
.pageHeader--Sub {
  background: #3e3e3e 0% 0% no-repeat padding-box;
  padding: 0.5rem 0;
}
.pageHeader--Phone {
  padding: 1rem 0 0;
  margin: 0;
}
.pageHeader--Phone a {
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  color: #efea5d;
  text-decoration: none;
  margin: 0;
}
.btn-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn-list li {
  display: block;
  margin-right: 0;
  margin-bottom: 0.5rem;
}
.btn-list li a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  padding: 0.5em 1em;
  color: #3e3e3e;
  background: #efea5d;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 180ms ease-out;
}
.btn-list li a:hover {
  transform: translateY(1px);
  color: #1d1d1d;
  background: #d6d020;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
@media (min-width: 800px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .pageHeader--TitleMain {
    font-size: 32px;
  }
  .pageHeader--TitleDesc {
    font-size: 21px;
  }
  .pageHeader--Phone {
    padding: 1rem 0;
  }
  .pageHeader--Phone a {
    font-size: 42px;
  }
  .btn-list li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
}
