.heroBg {
  position: relative;
  padding: 4rem 1rem;
  background-image: url("../images/plumbing-banner.jpg");
  background-size: cover;
}
.heroBody {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.heroBg .heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.heroBg .gridSplit {
  position: relative;
  width: 996px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.heroForm form {
  background-color: #fff;
  width: 100%;
  max-width: 474px;
  padding: 1rem;
  margin: 4rem auto 0;
  border-radius: 6px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
}
.heroBody p {
  margin: 0.25rem 0;
  color: #fff;
  font-size: 24px;
}
.heroBody h1 {
  margin: 0.5rem 0;
  color: #efea5d;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.heroForm input[type="checkbox"] {
  margin-right: 0.25rem;
}
.inputField {
  padding-bottom: 0.5rem;
}
.submitField {
  margin-top: 1rem;
  text-align: center;
}
.submitField input[type="submit"] {
  padding: 0.6rem 1rem;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  border: 2px solid #3e3e3e;
  text-transform: uppercase;
  box-shadow: none;
}
.heroForm label {
  font-size: 1.2rem;
}
.heroForm input[type="text"],
.heroForm input[type="tel"],
.heroForm input[type="email"] {
  display: block;
  width: 100%;
}

@media (min-width: 800px) {
  .gridSplit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
  }
  .gridSplit > * {
    padding: 0 1rem;
    position: relative;
  }
  .heroForm form {
    margin: 0 auto;
  }
  .heroBody p {
    margin: 0.5rem 0;
    font-size: 28px;
  }
  .heroBody h1 {
    margin: 1rem 0;
    font-size: 50px;
  }
}
